
<%= form_with model: paciente do |form| %>
  <div>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
    <% paciente.errors.full_messages_for(:nome).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :idade %><br>
    <%= form.text_field :idade %><br>
    <% paciente.errors.full_messages_for(:idade).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cpf %><br>
    <%= form.text_field  :cpf %><br>
    <% paciente.errors.full_messages_for(:cpf).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <input type="submit" name="commit" value="Editar Paciente" data-disable-with="Edit Paciente">
  </div>

<% end %>