<h1><%= @paciente.nome %></h1>

<p><%= @paciente.cpf %></p>

<p><%= @paciente.idade %></p>

<p><%= @paciente.fone %></p>

<h2>Endereço</h2>
<% if @paciente.endereco %>
  <%= form_for @paciente.endereco do |builder| %>
    <p>
      <strong>Logradouro:</strong>
      <%= builder.logradouro %>
    </p>

    <p>
      <strong>Numero:</strong>
      <%= builder.numero %>
    </p>
    <p>
      <strong>Bairro:</strong>
      <%= builder.bairro %>
    </p>

    <p>
      <strong>Cidade:</strong>
      <%= builder.cidade %>
    </p>
    <p>
      <strong>Estado:</strong>
      <%= builder.estado %>
    </p>
    <p>
      <strong>País:</strong>
      <%= builder.pais %>
    </p>

    <p>
      <strong>CEP:</strong>
      <%= builder.cep %>
    </p>
  <% end %>
<% end %>
<ul>
  <li><%= link_to "Editar", edit_paciente_path(@paciente) %></li>
  <li><%= link_to "Deletar", paciente_path(@paciente), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Você tem certeza disso?"
                  } %></li>
</ul>

