
<h1><%= @paciente.nome %></h1>

<p><%= @paciente.cpf %></p>

<p><%= @paciente.idade %></p>

<p><%= @paciente.fone %></p>

<h2>Endereço</h2>
<% @paciente.endereco do |ender| %>
  <p><%= ender.logradouro %><p>
  <p><%= ender.numero %><p>
  
<% end %> 


<ul>
  <li><%= link_to "Editar", edit_paciente_path(@paciente) %></li>
  <li><%= link_to "Deletar", paciente_path(@paciente), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Você tem certeza disso?"
                  } %></li>
</ul>

